<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= serverName %> Error</title>
</head>
<body>
<div class="background"></div>
<div class="container">
    <h1>Oh no! Something went wrong!</h1>
    <p><%= error %></p>
    <a href="/logout" class="button logout">Logout</a>
</div>
</body>
</html>
