<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>bnbSO</title>
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <img src="img/logo.png" alt="logo" width="200">
        <h1>Oh no! Something went wrong!</h1>
        <p><%= error %></p>
    </div>
</body>
</html>