<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>bnbSO</title>
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <img src="img/logo.png" alt="logo" width="200">
        <p>Log into your Discord account to get access to bnbSO.</p>
        <p><i>You must be a bits & Bytes member.</i></p>
        <a class="button discord" href="/auth/discord">Login with Discord</a>  
    </div>
</body>
</html>