<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>bnbSO Change Password</title>
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <h1>Change Password</h1>
        <p>If you have issues changing your password, ask the server operator to reset your password.</p>
        <form method="post" action="/password/change">
            <label for="currentpassword">Current Password:</label>
            <input type="password" id="currentpassword" name="currentpassword">
            <label for="newpassword">New Password:</label>
            <input type="password" id="newpassword" name="newpassword">
            <label for="newpassword2">Confirm New Password:</label>
            <input type="password" id="newpassword2" name="newpassword2">
            <button type="submit">Change Password</button>
        </form>
        <a href="/" class="button">Dashboard</a>
        <% if (typeof error !== 'undefined') { %>
            <div class="error"><%= error %></div>
        <% } %>
    </div>
</body>
</html>
